Repository dbrattli/Expression: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-readme-edits, pyright

.pre-commit-config.yaml:

exclude: "_version.py|versioneer.py"
repos:
  - repo: local
    hooks:
      - id: prevent-readme-edits
        name: Prevent direct README.md edits
        entry: .pre-commit-hooks/prevent-readme-edits.sh
        language: script
        files: README\.md$

  - hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
        args: [--check]
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.6
  - hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.394"]
    repo: local

refactor: streamline tagged_union decorator, add type hints and improve readability
  expression/core/tagged_union.py
Due: pyright

feat: add comprehensive AsyncSeq methods and functional utilities
  expression/collections/asyncseq.py
Due: pyright

fix: correct type annotations and remove broken implementations in asyncseq.py
  expression/collections/asyncseq.py
Due: pyright

fix: clean asyncseq syntax, docs and replace placeholder implementations
  expression/collections/asyncseq.py
Due: pyright

fix: clean docstrings and correct collect helper implementation
  expression/collections/asyncseq.py
Due: pyright

fix: correct type annotation in concat method and add blank lines in choose and collect functions
  expression/collections/asyncseq.py
Due: pyright

fix: Use SupportsSum protocol for type-safe sum operations in AsyncSeq
  expression/collections/asyncseq.py
Due: pyright

fix: properly implement sum method to use SupportsSum protocol for type safety
  expression/collections/asyncseq.py
Due: pyright

commit 1
  expression/core/typing.py
Due: pyright

commit 2
  expression/collections/maptree.py
Due: pyright

commit3
  expression/collections/map.py
Due: pyright

chore: refresh dependencies and repository tooling
  .github/dependabot.yml
  .github/workflows/python-package.yml
  .github/workflows/python-publish.yml
  .github/workflows/readme-sync.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  AGENTS.md
  Justfile
  docs/requirements.txt
  expression/collections/asyncseq.py
  expression/collections/block.py
  expression/collections/map.py
  expression/core/__init__.py
  expression/core/tagged_union.py
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  renovate.json
  tests/test_array.py
  tests/test_block.py
  tests/test_result.py
  tests/test_seq.py
Due: pyright

docs: restore tagged union decorator details
  expression/core/tagged_union.py
Due: pyright

chore: Expand AsyncSeq and refresh repository tooling (#259)
  .github/dependabot.yml
  .github/workflows/python-package.yml
  .github/workflows/python-publish.yml
  .github/workflows/readme-sync.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  AGENTS.md
  Justfile
  docs/requirements.txt
  expression/collections/asyncseq.py
  expression/collections/block.py
  expression/collections/map.py
  expression/core/__init__.py
  expression/core/tagged_union.py
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  renovate.json
  tests/test_array.py
  tests/test_block.py
  tests/test_result.py
  tests/test_seq.py
Due: pyright

ci: configure EasyBuild ShipIt releases
  .config/dotnet-tools.json
  .github/workflows/conventional-pr-title.yml
  .github/workflows/python-publish.yml
  AGENTS.md
  CHANGELOG.md
  scripts/shipit_bump_version.sh
Due: none

ci: configure EasyBuild ShipIt releases (#261)
  .config/dotnet-tools.json
  .github/workflows/conventional-pr-title.yml
  .github/workflows/python-publish.yml
  AGENTS.md
  CHANGELOG.md
  scripts/shipit_bump_version.sh
Due: none

chore: migrate project tooling to uv
  .github/workflows/python-package.yml
  .github/workflows/python-publish.yml
  .github/workflows/readme-sync.yml
  AGENTS.md
  Justfile
  poetry.lock
  pyproject.toml
  scripts/shipit_bump_version.sh
  uv.lock
Due: none

chore: migrate project tooling to uv (#262)
  .github/workflows/python-package.yml
  .github/workflows/python-publish.yml
  .github/workflows/readme-sync.yml
  AGENTS.md
  Justfile
  poetry.lock
  pyproject.toml
  scripts/shipit_bump_version.sh
  uv.lock
Due: none

fix: declare Read the Docs extensions
  docs/_config.yml
  docs/conf.py
  docs/requirements.txt
Due: pyright

fix: declare Read the Docs extensions (#263)
  docs/_config.yml
  docs/conf.py
  docs/requirements.txt
Due: pyright

docs: overhaul learning documentation
  .readthedocs.yml
  README.md
  README.py
  docs/_config.yml
  docs/_toc.yml
  docs/contributing.md
  docs/guides/choosing-a-type.py
  docs/guides/collection-types.py
  docs/guides/concepts.py
  docs/guides/domain-modeling.py
  docs/guides/effects.py
  docs/guides/error-handling.py
  docs/guides/getting-started.py
  docs/guides/optional-values.py
  docs/guides/pipelines.py
  docs/intro.md
  docs/reference/collections.md
  docs/reference/core.md
  docs/reference/effects.md
  docs/reference/extras.md
  docs/reference/reference.md
  docs/reference/system.md
  docs/requirements.txt
  docs/tutorial/containers.md
  docs/tutorial/containers.py
  docs/tutorial/continuations.md
  docs/tutorial/continuations.py
  docs/tutorial/data_modelling.md
  docs/tutorial/data_modelling.py
  docs/tutorial/effects.md
  docs/tutorial/effects.py
  docs/tutorial/introduction.md
  docs/tutorial/introduction.py
  docs/tutorial/lambda_calculus.md
  docs/tutorial/lambda_calculus.py
  docs/tutorial/optional_values.md
  docs/tutorial/optional_values.py
  docs/tutorial/railway.md
  docs/tutorial/railway.py
  pyproject.toml
Due: prevent-readme-edits, pyright

ci: limit README sync to main
  .github/workflows/readme-sync.yml
Due: none

docs: regenerate Sphinx configuration
  docs/conf.py
Due: pyright

docs: regenerate Sphinx configuration (#266)
  docs/conf.py
Due: pyright

docs: install Jupytext for Read the Docs
  docs/requirements.txt
Due: none

docs: install Jupytext for Read the Docs (#267)
  docs/requirements.txt
Due: none

docs: add composed Expression logo
  docs/_config.yml
  docs/conf.py
  docs/logo.png
  docs/logo.svg
Due: pyright

docs: add composed Expression logo (#268)
  docs/_config.yml
  docs/conf.py
  docs/logo.png
  docs/logo.svg
Due: pyright

fix: preserve generic MapTree sentinel types
  expression/collections/maptree.py
Due: pyright

fix: Make `map.Map` and `maptree.MapTree` require keys to be hashable (#258)
  expression/collections/map.py
  expression/collections/maptree.py
  expression/core/typing.py
Due: pyright

feat: expand pipe and applicative APIs
  docs/guides/concepts.py
  docs/guides/effects.py
  expression/__init__.py
  expression/core/__init__.py
  expression/core/curry.py
  expression/core/option.py
  expression/core/pipe.py
  expression/core/result.py
  tests/test_curried.py
  tests/test_option.py
  tests/test_pipe.py
  tests/test_result.py
Due: pyright

feat: expand pipe and applicative APIs (#269)
  docs/guides/concepts.py
  docs/guides/effects.py
  expression/__init__.py
  expression/core/__init__.py
  expression/core/curry.py
  expression/core/option.py
  expression/core/pipe.py
  expression/core/result.py
  tests/test_curried.py
  tests/test_option.py
  tests/test_pipe.py
  tests/test_result.py
Due: pyright

chore: release expression@5.7.0
  CHANGELOG.md
  expression/_version.py
Due: none

fix: preserve RuntimeError propagation and support plain function bodies
  expression/core/async_builder.py
  expression/core/builder.py
  expression/effect/async_option.py
  expression/effect/async_result.py
  expression/effect/option.py
  expression/effect/result.py
  expression/effect/seq.py
  tests/test_async_option_builder.py
  tests/test_async_result_builder.py
  tests/test_option_builder.py
  tests/test_result_builder.py
  tests/test_seq_builder.py
Due: pyright

feat: add Seq.pairwise
  expression/collections/seq.py
  tests/test_seq.py
Due: pyright

feat: add Seq.pairwise (#273)
  expression/collections/seq.py
  tests/test_seq.py
Due: pyright

fix: preserve RuntimeError propagation and support plain function bodies (#272)
  expression/core/async_builder.py
  expression/core/builder.py
  expression/effect/async_option.py
  expression/effect/async_result.py
  expression/effect/option.py
  expression/effect/result.py
  expression/effect/seq.py
  tests/test_async_option_builder.py
  tests/test_async_result_builder.py
  tests/test_option_builder.py
  tests/test_result_builder.py
  tests/test_seq_builder.py
Due: pyright

feat: add Seq.try_find_index
  expression/collections/seq.py
  tests/test_seq.py
Due: pyright

feat: add Seq.try_find_index (#276)
  expression/collections/seq.py
  tests/test_seq.py
Due: pyright
