Repository dbrattli/Expression: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-readme-edits, pyright

.pre-commit-config.yaml:

exclude: "_version.py|versioneer.py"
repos:
  - repo: local
    hooks:
      - id: prevent-readme-edits
        name: Prevent direct README.md edits
        entry: .pre-commit-hooks/prevent-readme-edits.sh
        language: script
        files: README\.md$

  - hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
        args: [--check]
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.6
  - hooks:
      - id: pyright
        name: pyright
        entry: pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.394"]
    repo: local

Fetch all commits
  .github/workflows/python-package.yml
Due: none

Use checkout v4
  .github/workflows/python-package.yml
  .github/workflows/readme-sync.yml
Due: none

Auto generate README.md (#239)
  .github/workflows/python-package.yml
  .github/workflows/readme-sync.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/prevent-readme-edits.sh
  README.py
  expression/collections/seq.py
  make_readme.sh
  poetry.lock
  pyproject.toml
  pyrightconfig.json
Due: pyright

Update README
  .github/workflows/python-package.yml
  .github/workflows/readme-sync.yml
  README.py
Due: pyright

Update README (#240)
  .github/workflows/python-package.yml
  .github/workflows/readme-sync.yml
  README.py
Due: pyright

Fixes for README sync
  .github/workflows/readme-sync.yml
Due: none

Fixes for README sync (#241)
  .github/workflows/readme-sync.yml
Due: none

New fix for README sync
  .github/workflows/readme-sync.yml
Due: none

New fix for README sync (#242)
  .github/workflows/readme-sync.yml
Due: none

Update README
  README.py
Due: pyright

Fix python package script
  .github/workflows/python-package.yml
Due: none

Update README (#243)
  .github/workflows/python-package.yml
  README.md
  README.py
Due: prevent-readme-edits, pyright

Fixes for README formatting
  README.py
Due: pyright

Fixes for README formatting (#244)
  README.md
  README.py
Due: prevent-readme-edits, pyright

Open PR instead of adding commit
  .github/workflows/readme-sync.yml
Due: none

Add better testing for builder code
  expression/core/builder.py
  expression/core/option.py
  expression/core/typing.py
  expression/effect/option.py
  tests/test_option.py
  tests/test_option_builder.py
  tests/test_option_effect.py
  tests/test_result.py
  tests/test_result_builder.py
Due: pyright

Remove unused imports
  tests/test_result.py
Due: pyright

Add better testing for builder code (#245)
  expression/core/builder.py
  expression/core/option.py
  expression/core/typing.py
  expression/effect/option.py
  tests/test_option.py
  tests/test_option_builder.py
  tests/test_option_effect.py
  tests/test_result.py
  tests/test_result_builder.py
Due: pyright

Builder improvement, first iteration
  expression/core/builder.py
  expression/effect/result.py
  tests/test_option_builder.py
  tests/test_result_builder.py
Due: pyright

Add better comments
  expression/core/builder.py
Due: pyright

Remove any types
  expression/effect/result.py
  tests/test_result_builder.py
Due: pyright

Builder fixes
  expression/core/builder.py
Due: pyright

Remove prints
  expression/core/builder.py
Due: pyright

Fixes for seq builder
  expression/collections/seq.py
  expression/core/builder.py
  expression/effect/__init__.py
  expression/effect/seq.py
  tests/test_seq_builder.py
Due: pyright

Builder refactor
  expression/core/builder.py
  expression/effect/seq.py
  tests/test_option_builder.py
  tests/test_seq_builder.py
Due: pyright

Builder improvements (#246)
  expression/collections/seq.py
  expression/core/builder.py
  expression/effect/__init__.py
  expression/effect/result.py
  expression/effect/seq.py
  tests/test_option_builder.py
  tests/test_result_builder.py
  tests/test_seq_builder.py
Due: pyright

Async results
  expression/core/async_builder.py
  expression/core/result.py
  expression/effect/__init__.py
  expression/effect/async_result.py
  tests/test_async_result_builder.py
Due: pyright

Add docs. Fix type errors
  README.py
  expression/core/async_builder.py
  expression/effect/__init__.py
  expression/effect/async_result.py
  tests/test_async_result_builder.py
Due: pyright

Remove print
  tests/test_async_result_builder.py
Due: pyright

Add async_option
  README.py
  expression/core/option.py
  expression/effect/__init__.py
  expression/effect/async_option.py
  tests/test_async_option_builder.py
Due: pyright

Add seq concat and update seq collect implemenation
  expression/collections/seq.py
Due: pyright

Async Result builder (#247)
  README.py
  expression/collections/seq.py
  expression/core/async_builder.py
  expression/core/option.py
  expression/core/result.py
  expression/effect/__init__.py
  expression/effect/async_option.py
  expression/effect/async_result.py
  tests/test_async_option_builder.py
  tests/test_async_result_builder.py
Due: pyright

Update README.md with async_option documentation
  README.md
Due: prevent-readme-edits

Update README with AsyncOption documentation
  README.md
  README.py
Due: prevent-readme-edits, pyright

Fix README sync workflow
  .github/workflows/readme-sync.yml
Due: none

Update README with AsyncOption documentation (#248)
  .github/workflows/readme-sync.yml
  README.md
  README.py
Due: prevent-readme-edits, pyright

Add a Recommendation Badge from libs.tech
  README.md
Due: prevent-readme-edits

add-bind-with
  expression/core/result.py
  tests/test_result.py
Due: pyright

Proof of concept for async pipe
  expression/extra/__init__.py
  expression/extra/async_result/__init__.py
  expression/extra/async_result/async_result.py
  expression/extra/pipe/__init__.py
  expression/extra/pipe/async_pipe.py
  tests/test_async_pipe.py
Due: pyright
